forensic_server.iml
.idea
dist
./scripts/build_test.sh
./scripts/publish_test.sh
config.encryption.json
config.json
config.*.yaml
uploads/
*[0-9][0-9][0-9][0-9]-[0-1][0-9]-[0-3][0-9]*
.air.toml
tmp
go.sum
va
prompts
yaml
service/prompts
uploads
dicom.exe
keys
Modelfile
*.gguf
dicom
ffmpeg
.ollama
sdk/
changelog.config.json
*.pem
public/